#featured

	h2
		text-align: center

	.featureWrap
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column

		span
			height: 300px
			width: 300px
			display: block
			background: pink
			box-sizing: border-box
			margin: 20px
