#productGrid
	padding-top: 60px

	.gridWrap
		display: flex
		flex-direction: column
		align-items: center

		.gridRow
			max-width: 200px

			.rowItem
				padding-bottom: 10px

				img
					width: 200px
					box-sizing: border-box
					max-width: 200px

				h3

				p

				a
