html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style: none; }

ul {
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

h1 {
  margin: 0; }

h2 {
  margin: 0; }

h3 {
  margin: 0; }

h4 {
  margin: 0; }

h5 {
  margin: 0; }

h6 {
  margin: 0; }

.desktopNav {
  display: none; }

.tabletNav {
  display: none; }

.mobileNav {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%; }
  .mobileNav #mobileSlider {
    transition: all 0.3s ease;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    position: absolute; }
    .mobileNav #mobileSlider.isOpen {
      -webkit-transform: translateY(0);
              transform: translateY(0); }
  .mobileNav .mobileLogo {
    margin-left: 15px; }
    .mobileNav .mobileLogo span {
      height: 50px;
      width: 50px;
      background: pink;
      display: block;
      border-radius: 50%; }
  .mobileNav #burger {
    height: 50px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .mobileNav #burger span,
    .mobileNav #burger span:before,
    .mobileNav #burger span:after {
      content: "";
      position: relative;
      transition: all 0.3s ease;
      width: 30px;
      height: 3px;
      background: black;
      display: block; }
    .mobileNav #burger span:before {
      top: 10px; }
    .mobileNav #burger span:after {
      top: -13px; }
    .mobileNav #burger.isOpen span {
      background: transparent; }
    .mobileNav #burger.isOpen span:before,
    .mobileNav #burger.isOpen span:after {
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 0; }
    .mobileNav #burger.isOpen span:after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: -3px; }

@media (orientation: landscape) {
  .mobileNav {
    display: none; }
  .tabletNav {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%; }
    .tabletNav .tabletLogo span {
      display: block;
      background: pink;
      height: 50px;
      width: 50px;
      border-radius: 50%; }
    .tabletNav .tabletLinks ul li {
      display: inline-block;
      text-align: center; }
    .tabletNav .tabletLinks #tabletDropDown {
      display: none;
      position: absolute;
      right: 0; }
      .tabletNav .tabletLinks #tabletDropDown.onClick {
        display: block; }
        .tabletNav .tabletLinks #tabletDropDown.onClick ul li {
          display: block;
          text-align: right; } }

@media (min-width: 768px) {
  .mobileNav {
    display: none; }
  .tabletNav {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%; }
    .tabletNav .tabletLogo span {
      display: block;
      background: pink;
      height: 50px;
      width: 50px;
      border-radius: 50%; }
    .tabletNav .tabletLinks ul li {
      display: inline-block;
      text-align: center; }
    .tabletNav .tabletLinks #tabletDropDown {
      display: none;
      position: absolute;
      right: 0; }
      .tabletNav .tabletLinks #tabletDropDown.onClick {
        display: block; }
        .tabletNav .tabletLinks #tabletDropDown.onClick ul li {
          display: block;
          text-align: right; } }

@media (min-width: 1025px) {
  .mobileNav {
    display: none; }
  .tabletNav {
    display: none; }
  .desktopNav {
    display: block;
    position: fixed;
    width: 100%; }
    .desktopNav .logo {
      position: absolute;
      left: 20px;
      height: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .desktopNav .logo span {
        height: 80px;
        width: 80px;
        display: block;
        background: pink;
        border-radius: 50%;
        cursor: pointer; }
    .desktopNav .desktopLinks {
      position: absolute;
      left: 140px;
      height: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .desktopNav .desktopLinks ul li {
        display: inline-block; }
        .desktopNav .desktopLinks ul li a {
          padding: 0 10px;
          transition: all 0.2s ease-in-out;
          cursor: pointer; }
          .desktopNav .desktopLinks ul li a:hover {
            color: gold; }
    .desktopNav .socialLinks {
      position: absolute;
      right: 20px;
      height: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .desktopNav .socialLinks .mediaLinks a {
        padding: 0 10px;
        transition: all 0.2s ease-in-out;
        cursor: pointer; }
        .desktopNav .socialLinks .mediaLinks a:hover {
          color: gold; } }

#hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#featured h2 {
  text-align: center; }

#featured .featureWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  #featured .featureWrap span {
    height: 300px;
    width: 300px;
    display: block;
    background: pink;
    box-sizing: border-box;
    margin: 20px; }

#homeArticles {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  #homeArticles h2 {
    text-align: center; }
  #homeArticles .articleWrap .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 30px;
    cursor: pointer; }
    #homeArticles .articleWrap .row:hover span {
      opacity: 0.8; }
    #homeArticles .articleWrap .row:hover .col-1 h3, #homeArticles .articleWrap .row:hover .col-1 p {
      text-decoration: underline black; }
    #homeArticles .articleWrap .row span {
      height: 100px;
      min-width: 100px;
      display: block;
      background: pink; }
    #homeArticles .articleWrap .row .col-1 {
      -webkit-box-flex: 2;
          -ms-flex-positive: 2;
              flex-grow: 2;
      margin-left: 10px; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  footer span {
    height: 100px;
    width: 100px;
    display: block;
    background: pink;
    border-radius: 50%; }
  footer .mediaFooter h3 {
    text-align: center; }
  footer .mediaFooter .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    footer .mediaFooter .links a {
      padding: 10px; }
